

.sidenav {
    height:30%;
    width: 0;
    position: fixed;
    z-index: 1;
    top:50%;
    right:0;
    background-color:rgba(224, 236, 239,1);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}
   input[type=number]{
    width:40%;
    
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
input[type=submit] {
    background-color:#37BCDF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius:4px;
}



.sidenav a:hover{
    color:red;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}

}